[settings]
experimental = true
# all_compile = true
disable_backends = ["asdf"]
# go_set_gobin = true
# go_set_goroot = true
# go_set_gopath = true
trusted_config_paths = ["~/repos"]
npm.bun = true
python.uv_venv_auto = true
status.show_env = true
status.truncate = false


[env]
'_'.file = ".env"
RUSTUP_HOME = "{{env.XDG_CACHE_HOME}}/rustup"
CARGO_HOME = "{{env.XDG_CACHE_HOME}}/cargo"
NPM_CONFIG_CACHE = "{{env.XDG_CACHE_HOME}}/npm"
EZA_CONFIG_DIR = "{{env.XDG_CONFIG_HOME}}/eza"
ASDF_DATA_DIR = "{{env.XDG_DATA_HOME}}"
STARSHIP_CACHE = "{{env.XDG_CACHE_HOME}}/starship"
STARSHIP_CONFIG = "{{env.XDG_CONFIG_HOME}}/starship/starship.toml"
BUN_INSTALL = "{{env.XDG_DATA_HOME}}/bun"
MISE_GITHUB_TOKEN = { value = "{{env.GITHUB_TOKEN}}", redact = true }
MISE_CACHE_DIR = "{{env.XDG_CACHE_HOME}}/mise"


# [hooks.enter]
# FIX: it's not worked. 
# script = "[[ -f ./bin/.aliases ]] && source ./bin/.aliases && bat ~/.aliases" # Source global aliases if they exist


[alias]
eza = "cargo:eza"
bat = "cargo:bat"
ripgrep = "cargo:ripgrep"
zoxide = "cargo:zoxide"
fd = "cargo:fd-find"
yazi = "cargo:yazi-fm"
delta = "cargo:git-delta"
starship = "cargo:starship"
cargo-binstall = "cargo:cargo-binstall"
vivid = "cargo:vivid"
uv = "cargo:astral-sh/uv"
presenterm = "cargo:presenterm"

lazygit = "go:github.com/jesseduffield/lazygit"
fzf = "go:github.com/junegunn/fzf"
slides = "go:github.com/maaslalani/slides"
lazysql = "go:github.com/jorgerojas26/lazysql"
lazydocker = "go:github.com/jesseduffield/lazydocker"

zk = "github:zk-org/zk"
gh = "github:cli/cli"

gemini-cli = "npm:@google/gemini-cli"
opencodeai = "github:sst/opencode"
cloude-code = "npm:@anthropic-ai/claude-code"


[tools]
# env
rust = { version = "stable", components = "rust-analyzer" }
bun = "latest"
go = "latest"
node = "latest"
python = "latest"

# cli
eza = "latest"
bat = "latest"
ripgrep = "latest"
zoxide = "latest"
gemini-cli = "latest"
fd = "latest"
yazi = "latest"
delta = "latest"
starship = "latest"
cargo-binstall = "latest"
vivid = "latest"
presenterm = "latest"
lazygit = "latest"
fzf = "latest"
slides = "latest"
lazydocker = "latest"
lazysql = "latest"
zk = "latest"
gh = "latest"
tree-sitter = "latest"
neovim = "latest"
opencodeai = "latest"
# cloude-code = "latest"

# Python
# "pipx:detect-secrets" = "latest"
